* {
  background-color: rgba(245, 245, 239, 1);
}

.dad-circulo {
  height: 94px;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  margin-bottom: 15px;
}

.circulo {
  background-color: rgba(230, 217, 200, 1);
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#dad-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: rgba(230, 217, 200, 1);
  border-radius: 50px;
}

#arrow {
  width: 26px;
  background: none;
}

main {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  flex-direction: column;
}

.onda {
  background: white;
  height: 88vh;
  width: 100vw;
  border-top-left-radius: 100px;
}

#foto-container-alterar {
  justify-content: center;
  align-items: center;
  display: flex;
  background: none;
  transform: translateY(-50%);
}

#foto-perfil-alterar {
  width: 204px;
  height: 204px;
  border-radius: 500px;
  object-fit: cover;
  margin-left: 40px;
  background: none;
  display: flex;
}

#dad-editar-foto {
  transform: translateY(-170%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  object-fit: cover;
  left: -10%;
}

#editar-foto {
  background: none;
  width: 22px;
  height: 22px;
}

.dad-informations {
  background: white;
  transform: translateY(-10%);
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  width: 70vw;
  padding-left: 10px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.informacoes h1 {
  background: white;
  font-size: 16px;
}

.input {
  font-size: 16px;
  height: 20px;
  border: none;
  background: none;
}

#dad-concluir {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.input:focus {
  outline: none;
}

#concluir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 44px;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  background: rgba(230, 46, 27, 1);
}

#concluir p {
  background: rgba(230, 46, 27, 1);
  color: white;
  font-size: 16px;
  border-radius: 100px;
}

.disable {
  display: none;
}
