*{
    background-color: rgba(245, 245, 239, 1);
}

.dad-circulo{
    height: 80px;
    display: flex;
    align-items: flex-end;
    padding-left: 16px;
    margin-bottom: 15px;
}

.circulo{
    background-color: rgba(230, 217, 200, 1);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#dad-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(230, 217, 200, 1);
    border-radius: 50px;
}

#arrow{
    background: none;
}

main{
    display: flex;
    height: 757px;
    justify-content: flex-end;
    flex-direction: column;
}

.onda{
    background: white;
    height: 655px;
    width: 393px;
    border-top-left-radius: 100px;
}

.foto-perfil{
    justify-content: center;
    align-items: center;
    display: flex;
    background: none;
    transform: translateY(-50%);
}

.foto-perfil img{
    background: none;
    display: flex;
    width: 204px;
}

.dad-informations{
    gap: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    width: 250px;
    padding-left: 10px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
    -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.informacoes h1{
    background: white;
    font-size: 14px;
}

.informacoes p{
    background: white;
    font-size: 13px;
    
}

.input{
    height: 20px;
    border: none;
    background: none;
}

#dad-concluir{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
}

#concluir{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 217, 200);
    width: 170px;
    height: 44px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    color: black;
}

#concluir p{
    background: rgb(230, 217, 200);
    font-size: 15px;
    border-radius: 100px;
}