a {
  text-decoration: none;
}

header {
  background-color: rgba(245, 245, 239, 1);
  width: 100vw;
  height: 160px;
  display: flex;
  margin-bottom: 22px;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}

header img {
  width: 230px;
}

.header-down {
  padding-right: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 5.5vh;
}

#foto-container-header {
  width: 100vw;
  height: 5.5vh;
  border-radius: 500px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#foto-perfil-header {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  object-fit: cover;
  object-position: center top;
  border: 3px solid white;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

#login-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  text-decoration: none;
  height: 3.5vh;
  background-color: rgba(230, 46, 27, 1);
  border-radius: 44px;
  border: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#login-logout p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 3vw;
}

#login-logout span {
  font-weight: 400;
}

#dad-icons {
  gap: 15vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 90vw;
}

#dad-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background: rgba(230, 217, 200, 1);
  border-radius: 50px;
}

#arrow {
  width: 23px;
  background: none;
}

.dad-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 48px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.5vh;
  width: 76vw;
  gap: 20px;
  padding: 0 40px;
  background-color: rgba(245, 245, 243, 1);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.search input {
  font-size: 15px;
  color: rgba(230, 46, 27, 1);
}

.pesquisar {
  width: 70%;
  background: rgba(245, 245, 243, 1);
  height: 100%;
  border: none;
}

.pesquisar::placeholder {
  color: rgba(230, 46, 27, 1);
}

.pesquisar:focus {
  outline: none;
}

#opcoes {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
}

#opcoes img {
  width: 19px;
}

.mic {
  background: none;
  display: flex;
  width: 15px;
  border: none;
}

.mic img {
  display: flex;
  width: 15px;
}

#resposta {
  display: flex;
  justify-content: space-around;
}

.dad-reanimacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px;
}

#reanimacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 243, 1);
  width: 283px;
  height: 30px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#reanimacao p {
  font-size: 15px;
}

#span {
  font-weight: 700;
  color: rgba(230, 46, 27, 1);
}

.pai-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.filho-videos {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(242, 148, 139, 1);
  gap: 5px;
}

.video {
  gap: 24px;
  width: 335px;
  height: 178px;
  background-color: rgba(217, 217, 217, 1);
}

.quadrado {
  width: 85vw;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.sub-quadrado {
  display: flex;
  flex-direction: column;
}

.quadrado h1 {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.quadrado p {
  color: rgb(0, 0, 0);
  font-size: 13px;
}
