header {
  background: rgb(230, 217, 200);
  width: 100vw;
  height: 160px;
  display: flex;
  margin-bottom: 22px;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}

header img {
  width: 230px;
}

.header-down {
  padding-right: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 40px;
}

#foto-container-header {
  width: 100vw;
  height: 5.5vh;
  border-radius: 500px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#foto-perfil-header {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  object-fit: cover;
  object-position: center top;
  border: 3px solid white;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

#login-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  text-decoration: none;
  height: 30px;
  background-color: rgba(230, 46, 27, 1);
  border-radius: 44px;
  border: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#login-logout p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 13px;
}

#login-logout span {
  font-weight: 400;
}

.dad-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 48px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 80vw;
  gap: 20px;
  padding: 0 40px;
  background-color: rgba(245, 245, 243, 1);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.search input {
  display: flex;
  font-size: 20px;
  color: rgba(230, 46, 27, 1);
}

.pesquisar {
  width: 100%;
  background: rgba(245, 245, 243, 1);
  height: 100%;
  border: none;
}

.pesquisar::placeholder {
  color: rgba(230, 46, 27, 1);
}

.pesquisar:focus {
  outline: none;
}

#opcoes {
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
  width: 19px;
}

#opcoes img {
  width: 19px;
}

.mic {
  background: none;
  display: flex;
  width: 16px;
  border: none;
}

.mic img {
  display: flex;
  width: 16px;
}

.dad-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 240px;
  background: rgb(230, 217, 200);
  align-items: center;
}

.dad-informations {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 169px;
  transform: translateY(-50%);
  height: 40px;
  background: rgba(245, 245, 243, 1);
  border-radius: 45px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.dad-informations h1 {
  font-size: 20px;
  color: rgba(230, 46, 27, 1);
  font-weight: 400;
}

.dad-text {
  flex-direction: column;
  width: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dad-text p {
  font-size: 20px;
}

.dad-text li {
  font-size: 20px;
}

.dad-temas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 30px;
}

.temas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 283px;
  height: 40px;
  background: rgba(245, 245, 243, 1);
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.temas p {
  color: rgba(230, 46, 27, 1);
  font-size: 20px;
}

section {
  display: flex;
  padding-left: 35px;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  gap: 32px;
}

.son-quadrado {
  width: 295px;
  color: black;
  display: flex;
  gap: 23px;
  text-decoration: none;
  align-items: center;
}

.son-quadrado p {
  font-size: 25px;
  text-align: left;
  color: black;
}

.quadrado-video {
  width: 97px;
  height: 97px;
  background: rgba(217, 217, 217, 1);
}

#opcoes {
  border: none;
  background: none;
}
