header {
  background-color: rgba(245, 245, 239, 1);
  width: 100vw;
  height: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 22px;
}

header img {
  width: 195px;
}

.header-down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 388px;
  height: 47px;
}

#login-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  text-decoration: none;
  height: 29px;
  background-color: rgba(230, 46, 27, 1);
  border-radius: 44px;
  border: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#login-logout p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 12px;
}

#login-logout span {
  font-weight: 400;
}

.dad-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 48px;
}

.pesquisar {
  width: 80%;
  background: rgba(245, 245, 243, 1);
  height: 100%;
  border: none;
  border-radius: 500px;
  font-size: 14px;
}

.pesquisar::placeholder {
  color: rgba(230, 46, 27, 1);
}

.pesquisar:focus {
  outline: none;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 75.57vw;
  background-color: rgba(245, 245, 243, 1);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.search p {
  font-size: 14px;
  color: rgba(230, 46, 27, 1);
}

.mic {
  display: flex;
  width: 3.82vw;
}

.dad-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 281px;
  height: 226px;
  background: rgba(245, 245, 239, 1);
  align-items: center;
}

.dad-informations {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 169px;
  transform: translateY(-50%);
  height: 40px;
  background: rgba(245, 245, 243, 1);
  border-radius: 45px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.box h2 {
  color: rgba(230, 46, 27, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.dad-text {
  flex-direction: column;
  width: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dad-text p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dad-temas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  margin-bottom: 21px;
}

.temas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 283px;
  height: 40px;
  background: rgba(245, 245, 243, 1);
  border-radius: 45px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.temas p {
  color: rgba(230, 46, 27, 1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 32px;
}

.son-quadrado {
  width: 323px;
  display: flex;
  gap: 23px;
  align-items: center;
}

.son-quadrado p {
  font-size: 24px;
  text-align: left;
}

.quadrado-video {
  width: 100px;
  height: 100px;
  background: rgba(217, 217, 217, 1);
}

#opcoes {
  border: none;
  background: none;
}
