.mensage-modal-delete {
  z-index: 9999999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 35vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  left: 7.5vw;
  top: 30vh;
}

.mensage {
  width: 74.55vw;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 5.5vh;
  color: rgba(230, 46, 27, 1);
  background: rgba(245, 245, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.mensage p {
  font-size: 4vw;
}
