* {
  background-color: rgba(245, 245, 239, 1);
}

.dad-circulo {
  height: 90px;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  margin-bottom: 15px;
}

.circulo {
  background-color: rgba(230, 217, 200, 1);
  border-radius: 50px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#dad-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: rgba(230, 217, 200, 1);
  border-radius: 50px;
}

#arrow {
  width: 28px;
  background: none;
}

main {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  flex-direction: column;
}

.onda {
  background: white;
  height: 88vh;
  width: 100vw;
  border-top-left-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dad-informations {
  margin-top: 150px;
  background: white;
  transform: translateY(-10%);
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  width: 400px;
  padding-left: 10px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.informacoes h1 {
  background: white;
  font-size: 20px;
}

.input {
  font-size: 20px;
  height: 20px;
  border: none;
  background: none;
}

#dad-concluir {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dad-login {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input:focus {
  outline: none;
}

#concluir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  background: rgba(230, 46, 27, 1);
}

#concluir p {
  background: rgba(230, 46, 27, 1);
  color: white;
  font-size: 20px;
  border-radius: 100px;
}

.disable {
  display: none;
}

#form-login {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
