#dad-arrow {
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 17px;
}

#arrow {
  width: 25px;
  background: none;
}

.dad-video {
  width: 100%;
  display: flex;
  justify-content: center;
}

#video {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

#video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#bandeira {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 12px;
}

#bandeira button {
  background: black;
  backdrop-filter: blur(6px);
  border-radius: 50%;
  padding: 6px;
  border: none;
}

#bandeira button img {
  width: 26px;
  height: 26px;
}

.hidden-modal {
  display: none !important;
}

#modal-denuncia {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 18px;
}

#like-img,
#deslike-img,
#like-img-vermelho,
#deslike-img-vermelho {
  width: 5vw;
}

#titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#esquerda h1 {
  font-size: 4vw;
}

.direita {
  display: flex;
}

#bola {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 26vw;
  height: 3vh;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 15px;
}

.dad-informacoes {
  height: 25vw;
  border-bottom: 1px solid rgba(223, 223, 223, 1);
}

#son-titulo {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#like {
  display: flex;
  fill: none;
  border: none;
  border-right: 2px solid rgba(217, 217, 217, 1);
  padding-right: 15px;
}

#deslike {
  display: flex;
  fill: none;
  border: none;
}

#like-img {
  width: 5vw;
  fill: none;
}

#like-img-vermelho {
  width: 5vw;
}

#deslike-img {
  width: 5vw;
  fill: none;
}

#deslike-img-vermelho {
  width: 5vw;
}

#user {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 22px;
  margin-top: 14px;
}

#info-user {
  font-size: 14px;
}

#user img {
  width: 10vw;
  margin-right: 10px;
}

#informacoes {
  display: flex;
  align-items: center;
  justify-content: center;
}

#data {
  font-size: 12px;
}

#texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(223, 223, 223, 1);
}

#texto h1 {
  margin-bottom: 7px;
  font-size: 3.5vw;
  display: flex;
}

#texto p {
  font-size: 3vw;
  display: flex;
  padding: 0 33px;
}

.pai-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filho-videos {
  text-decoration: none;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(242, 148, 139, 1);
  gap: 5px;
}

.video {
  gap: 24px;
  width: 335px;
  height: 178px;
  background-color: rgba(217, 217, 217, 1);
}

.quadrado {
  width: 85vw;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.sub-quadrado {
  display: flex;
  flex-direction: column;
}

.quadrado h1 {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.quadrado p {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.hidden {
  display: none;
}

.disable {
  display: none;
}
