.back-modal-exit {
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 365px;
  height: 560px;
  position: fixed;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-modal-exit {
  z-index: 999999;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 35vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  left: 7.5vw;
  top: 30vh;
}

.modal-content-exit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.exit-square {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 5.5vh;
  color: rgba(230, 46, 27, 1);
  background: rgba(245, 245, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.exit-square p {
  font-size: 20px;
}

.frame-btn-exit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  height: 5.5vh;
}

#btnSimExit {
  border: none;
  border-radius: 50px;
  width: 30vw;
  height: 5.5vh;
  background: rgba(245, 245, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#btnSimExit p {
  color: rgba(230, 46, 27, 1);
  font-size: 20px;
}

#btnNaoExit {
  border: none;
  background: rgba(230, 46, 27, 1);
  border-radius: 50px;
  width: 30vw;
  height: 5.5vh;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#btnNaoExit p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.disable {
  display: none;
}
