.back-modal-delete {
  z-index: 99999;
  width: 90vw;
  height: 65vh;
  position: fixed;
  top: 15vh;
  left: 5vw;
  background: rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}

.confirm-modal-delete {
  z-index: 999999;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 35vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  left: 7.5vw;
  top: 30vh;
}

.modal-content-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.delete-square {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 5.5vh;
  color: rgba(230, 46, 27, 1);
  background: rgba(245, 245, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

.delete-square p {
  font-size: 4vw;
}

.frame-btn-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  height: 5.5vh;
}

#btnSimDelete {
  border: none;
  border-radius: 50px;
  width: 30vw;
  height: 5.5vh;
  background: rgba(245, 245, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#btnSimDelete p {
  color: rgba(230, 46, 27, 1);
  font-size: 4vw;
}

#btnNaoDelete {
  border: none;
  background: rgba(230, 46, 27, 1);
  border-radius: 50px;
  width: 30vw;
  height: 5.5vh;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#btnNaoDelete p {
  color: rgb(255, 255, 255);
  font-size: 4vw;
}
}

.disable {
  display: nonoaozao
