.header-modal {
  background: rgba(245, 245, 239, 1);
  width: 90vw;
  height: 14vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 78px;
}

#foto-container-modal {
  object-fit: cover;
  object-position: center;
  transform: translateY(50%);
}

#foto-perfil-modal {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 500px;
  border: 3px solid white;
}

#dad-editar-foto {
  transform: translateY(-355%);
  left: 19vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: white;
  width: 7vw;
  height: 7vw;
  border-radius: 500px;
}

#editar-foto {
  border: none;
  width: 4vw;
  height: 4vw;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 15vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 65vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.back-modal {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  display: none;
}

.dad-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

#card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 63vw;
  height: 7vh;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  flex-direction: column;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 63vw;
  height: 7vh;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  padding: 10px;
}

.card img {
  width: 5vw;
}

#card h1 {
  font-size: 4vw;
}

#card p {
  font-size: 3vw;
}

#card1 h1 {
  font-size: 4vw;
  color: rgba(230, 46, 27, 1);
}

.card h1 {
  color: black;
  font-size: 4vw;
}

#post-content {
  background: none;
  border: none;
  text-decoration: none;
}

#edit-account {
  background: none;
  border: none;
  text-decoration: none;
}

#delete-account {
  background: none;
  border: none;
  text-decoration: none;
}

#exit {
  background: none;
  border: none;
  text-decoration: none;
}

#card1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 63vw;
  height: 7vh;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  padding: 10px;
}

#card1 img {
  width: 5vw;
}
