header {
  width: 100vw;
  height: 160px;
  background: rgba(245, 245, 239, 1);
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dad-icons {
  gap: 15vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 90vw;
}

#dad-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background: rgba(230, 217, 200, 1);
  border-radius: 50px;
}

#arrow {
  width: 22px;
  background: none;
}

#logo {
  width: 174px;
}

#dad-adicionar {
  width: 100vw;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

#adicionar {
  width: 275px;
  height: 30px;
  border-radius: 50px;
  background: rgba(245, 245, 243, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#adicionar p {
  color: rgba(230, 46, 27, 1);
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  padding: 7px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65vw;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  flex-direction: column;
  margin-bottom: 19px;
}

.card h1 {
  font-size: 14px;
}

.card-input {
  border: none;
  background: none;
  font-size: 11px;
}

.card-input:focus {
  outline: none;
}

.upload1 {
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 137px;
  height: 20px;
  background: rgba(26, 115, 232, 1);
}

.upload1 p {
  color: white;
  font-size: 13px;
}

#dad-document {
  display: flex;
  justify-content: center;
  align-items: center;
}

#son-document {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
}

#document {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border-radius: 10px;
  border: 1px solid rgba(215, 215, 207, 1);
}

#document p {
  font-size: 12px;
  color: rgba(102, 102, 102, 1);
}

.file-upload {
  padding: 7px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 65vw;
  height: 65px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(215, 215, 207, 0.6);
  flex-direction: column;
  margin-bottom: 19px;
}

.file-upload h1 {
  font-size: 15px;
}

.upload1 img {
  border: none;
  width: 13px;
}

#dad-concluir {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#concluir {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(230, 217, 200);
  width: 160px;
  height: 30px;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: black;
}

#concluir p {
  background: rgb(230, 217, 200);
  font-size: 15px;
  border-radius: 100px;
}

#upload {
  display: none;
}

input[type="file"] {
  display: none;
}
