* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
li,
input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.disable {
  display: none;
}

#disable {
  display: none;
}
